.text-white{
    height: 600px;
    Card.Img{
        height: 600px;
    }
}
.card-img{
    height: 600px;
    
}
.navbar1{
    /* position: relative; */
    position: sticky;
    top: 0;
    margin: 10px;
    background-color:transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    z-index: 900;

    .nav-logo{
        img{
            color:white;
        }
    }
    .nav-list{
        ul{
        gap:15px;
        display: flex;
        list-style: none;
        /* li{
        
            } */
            cursor: alias;
           
        }
    }

    .nav-icon{
        justify-content: space-between;
        display:flex;
        gap: 15px;
        
    }
}

.section1{display: flex;
 .sec1{
  position: relative;
  
 }
}
/* .sec1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .video-banner video {
    width: 100%; /* Adjust to fit your container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures video covers the container 
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .text-overlay p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .text-overlay h1 {
    font-size: 2.5rem;
    margin: 10px 0;
  }
  
  .text-overlay button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  } */
  




